* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table th, table td {
    vertical-align: top; }

fieldset, img {
  border: 0; }

em, strong, b, i {
  font-style: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body, input, button, textarea {
  font-family: Helvetica, sans-serif; }

a {
  text-decoration: none;
  outline: none; }

a:hover {
  cursor: pointer; }

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; }

ul, ol {
  list-style-type: none; }
  ul li, ol li {
    list-style: none; }

a, input, textarea, select {
  outline: 0;
  -webkit-appearance: none;
  font-size: 100%;
  border: 1px solid #fefefe; }

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
  a:active {
    color: #1a1a1a; }

::-webkit-input-placeholder {
  color: #cacaca; }

input:-moz-placeholder {
  color: #cacaca; }

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.clear:before, .clear:after {
  display: block;
  content: " ";
  height: 0; }

.clear:after {
  clear: both; }

.header, .index-wrapper, .index-wrapper .index-item, .plugin .search-result span {
  border-bottom: 1px solid #f4f4f4; }

.index-wrapper .location {
  border-left: 1px solid #f4f4f4; }

body {
  overflow: hidden; }

.plugin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  z-index: 9999;
  -webkit-transition: transform .25s ease-in;
  transition: transform .25s ease-in; }

.plugin-hide {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.plugin-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.none {
  display: none !important; }

.container {
  width: 100%;
  height: 100%;
  background: #f5f6f5;
  overflow: hidden; }

.header {
  height: 44px;
  text-align: center;
  line-height: 44px;
  position: relative; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.banner {
  height: 130px; }
  .banner .ss1 {
    background: url("../img/fullimage1.jpg") no-repeat center center;
    background-size: 100% 100%; }
  .banner .ss2 {
    background: url("../img/fullimage2.jpg") no-repeat center center;
    background-size: 100% 100%; }
  .banner .ss3 {
    background: url("../img/fullimage3.jpg") no-repeat center center;
    background-size: 100% 100%; }
  .banner .ss4 {
    background: url("../img/fullimage4.jpg") no-repeat center center;
    background-size: 100% 100%; }

.index-wrapper {
  color: #333;
  background: #ffffff;
  padding-left: 12px; }
  .index-wrapper .right-arrow {
    position: relative; }
    .index-wrapper .right-arrow:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-right-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(-45deg);
      right: 1rem;
      top: 30px; }
  .index-wrapper .circle {
    position: relative; }
    .index-wrapper .circle:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #f4f4f4;
      transform: rotate(-45deg);
      left: 0.5rem;
      top: 30px;
      border-radius: 50%; }
  .index-wrapper .index-item {
    height: 70px;
    width: 100%;
    padding-left: 1.2rem;
    line-height: 70px;
    font-size: .8rem; }
    .index-wrapper .index-item:first-child:after {
      right: 85px; }
    .index-wrapper .index-item:last-child {
      border: none; }
  .index-wrapper .local-place .local-city {
    width: 50%;
    height: 100%; }
  .index-wrapper .local-place span {
    float: left; }
  .index-wrapper .location {
    position: absolute;
    right: 0;
    height: 100%; }
  .index-wrapper span {
    padding: 0 5px; }

.city {
  height: 100%;
  width: 100%;
  overflow: auto; }
  .city .city-content {
    position: relative; }
  .city .left-arrow {
    position: relative;
    position: absolute;
    width: 50px;
    height: 44px;
    left: 0; }
    .city .left-arrow:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid #ffffff;
      border-right-color: #24AEF2;
      border-bottom-color: #24AEF2;
      transform: rotate(135deg);
      left: 1rem;
      top: 15px; }
  .city .search-area input {
    padding: 10px;
    width: 100%; }
  .city .search-area ::-webkit-input-placeholder {
    font-size: .8rem; }
  .city .cont-title {
    background: #f5f6f5;
    height: 24px;
    line-height: 24px;
    font-size: .75rem;
    color: #333;
    text-indent: .75rem; }
  .city ol li {
    float: left;
    width: 10%;
    text-align: center;
    line-height: 2;
    font-size: .8rem; }
  .city .hot-city span {
    float: left;
    width: 33.33%;
    text-align: center;
    line-height: 2;
    font-size: .8rem; }
  .city .city-detail span {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 2;
    font-size: .8rem; }

.plugin .search-result {
  display: none;
  position: absolute;
  top: 115px;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  overflow: auto; }
  .plugin .search-result span {
    display: block;
    width: 100%;
    line-height: 2;
    text-indent: 1rem; }
