html, body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

ul, li {
  list-style: none; }

input {
  -webkit-tap-high-light: transparent; }

.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 10.625rem;
  background: lightpink; }
  .swiper .swiper-wrapper {
    position: absolute;
    height: 100%; }
    .swiper .swiper-wrapper .swiper-item {
      float: left; }

.container {
  width: 100%;
  height: 100%;
  background: lightpink; }
