//color set
$baseColor: #24AEF2;
$backColor: #f5f6f5;
$borderColor: #f4f4f4;
$fontColor: #333;
$lightColor: #ccc;
$dimColor: #999;
$highColor: #ffb50b;
//mixin area collect
@mixin flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flexTo($c:1){
	flex: $c;
	-webkit-box-flex: $c;
	-ms-flex: $c;
}
@mixin flexCenter{
	/* Center slide text vertically */
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
%common{
	content: '';
	position: absolute;

}
@mixin right-arrow($bColor:#fff,$w:10px, $h:10px, $color:$baseColor,$right:0,$top:0){
	position: relative;
	&:after{
		@extend %common;
		width: $w;
		height:$h;
		border: 1px solid $bColor;
		border-right-color: $color;
		border-bottom-color: $color;
		right: $right;
		top: $top;
		transform: rotate(-45deg);
	}

}

@mixin left-arrow($bColor:#fff,$w:10px, $h:10px, $color:$baseColor,$left:0,$top:0,$left:0,$top:0){
	position: relative;
	&:after{
		width: $w;
		height:$h;
		border: 1px solid $bColor;
		border-right-color: $color;
		border-bottom-color: $color;
		right: $left;
		top: $top;
		@extend %common;
		transform: rotate(135deg);
	}
}

@mixin up-arrow($bColor:#fff,$w:10px, $h:10px, $color:$baseColor,$right:0,$top:0){
	position: relative;
	&:after{
		width: $w;
		height:$h;
		border: 1px solid $bColor;
		border-right-color: $color;
		border-bottom-color: $color;
		right: $right;
		top: $top;
		@extend %common;
		transform: rotate(-135deg);
	}
}

@mixin circle($w:10px, $h:10px, $color:$baseColor,$left:0,$top:0){
	position: relative;
	&:before{
		content: '';
		position: absolute;
		width: $w;
		height:$h;
		background: $color;
		transform: rotate(-45deg);
		left: $left;
		top: $top;
		border-radius:50%;
	}

}

@mixin plugin($bgColor:#fff){
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background: $bgColor;
	z-index: 9999;
	transition:  transform .25s ease-in;
}

//search button icon
@mixin search-icon($color:#fff,$bg:$baseColor){
	border-radius: 50%;
	border: 2px solid $color;
	background: $bg;
	position: relative;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	&:after{
		content: '';
		position: absolute;
		width: 6px;
		height: 2px;
		background: #fff;
		right: -4px;
		bottom: -2px;
		transform: rotate(45deg);
	}
}

//checkbox style
@mixin checkbox(){
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border: 2px solid $baseColor;
		left: 50%;
		top: 50%;
		margin: -5px 0 0 -5px;
	}
	&:before{
		content: '';
		position: absolute;
		width: 7px;
		height: 3px;
		border-bottom: 2px solid $baseColor;
		border-left: 2px solid $baseColor;
		transform: rotate(-45deg);
		visibility: hidden;
		left: 50%;
		top: 50%;
		margin: -2px 0 0 -3px;
	}
}
@mixin checked{
	&:before{
		visibility: visible;
	}
}

%clearfix{
	&:before,
	&:after {
		display: block; //zy
		content: " "; // 1
		height: 0; //zy
	}
	&:after {
		clear: both;
	}
}

//border set
%bb{border-bottom: 1px solid $borderColor}
%bt{border-top: 1px solid $borderColor}
%bl{border-left: 1px solid $borderColor}
%b\r{border-right: 1px solid $borderColor}


//common stylesheet
body{
	overflow: hidden;
}
.left{
	float: left;
}
.right{
	float: right;
}

.mask-layer{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	animation: ml_ani .5s ease-out;
}
@keyframes ml_ani {
	0%{
		background: rgba(0,0,0,0);
	}
	100%{
		background: rgba(0,0,0,.7);
	}
}
.loading{
	position: absolute;
	z-index: 9999;
	width: 70px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin: -35px 0 0 -35px;
	animation: loading 1.4s infinite;
	-webkit-animation:loading 1.4s infinite linear;

	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
@keyframes loading {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
@-webkit-keyframes loading {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.plugin{
	@include plugin();
}
.plugin-hide{
	transform: translate3d(100%,0,0);
}
.plugin-active{
	transform: translate3d(0,0,0);
}
.none{
	display: none !important;
}
.show{
	display: block !important;
}
.clear{
	@extend %clearfix;
}
.container{
	width: 100%;
	height: 100%;
	background: $backColor;
	overflow: hidden;
	position: relative;
}
.header{
	height: 44px;
	@extend %bb;
	text-align: center;
	line-height: 44px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	background: #ffffff;
	.left-arrow{
		@include left-arrow($left:1rem,$top:15px);
		position: absolute;
		width: 50px;
		height: 44px;
		left: 0;
	}
}