.map{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	top: 0;
	left: 0;
	z-index: 999999;
	display: none;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	@include flex;
	@include flexCenter;
}
.banner{
	height: 130px;
	.ss1{
		background: url("../img/fullimage1.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss2{
		background: url("../img/fullimage2.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss3{
		background: url("../img/fullimage3.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss4{
		background: url("../img/fullimage4.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
}

.index-wrapper{
	.right-arrow{
		@include right-arrow($right:1rem,$top:30px)
	}
	.circle{
		@include circle($top:30px,$left:.5rem,$color:$borderColor)
	}
	color: #333;
	background: #ffffff;
	padding-left: 12px;
	@extend %bb;
	.index-item{
		height: 70px;
		width: 100%;
		padding-left: 1.2rem;
		line-height: 70px;
		@extend %bb;
		font-size: .8rem;
		&:first-child{
			&:after{
				right: 85px;
			}
		}
		&:last-child{
			border: none;
		}
		span{
			float: left;

		}
		.date-in,.date-out{
			width: 70%;
		}
	}

	.local-place{
		.local-city{
			width: 50%;
			height: 100%;
		}
		span{
			float: left;
		}
	}
	.location{
		position: absolute;
		right: 0;
		height: 100%;
		@extend %bl;
	}
	span{
		padding: 0 5px;
	}
}
.search-btn{
	background: $baseColor;
	color: #ffffff;
	text-align: center;
	line-height: 45px;
	margin-top: 1rem;
	span{
		@include search-icon();
	}
}
.city{
	height: 100%;
	width: 100%;
	.city-content{
		position: relative;
		overflow: auto;
		height: 100%;
		padding-top: 45px;
	}
	.search-area{
		input{
			padding: 10px;
			width: 100%;

		}
		::-webkit-input-placeholder{
			font-size: .8rem;
		}
	}
	.cont-title{
		background: $backColor;
		height: 24px;
		line-height: 24px;
		font-size: .75rem;
		color: $fontColor;
		text-indent: .75rem;
	}
	ol{
		li{
			float: left;
			width: 10%;
			text-align: center;
			line-height: 2;
			font-size: .8rem;
		}
	}
	.hot-city{
		span{
			float: left;
			width: 33.33%;
			text-align: center;
			line-height: 2;
			font-size: .8rem;
		}
	}

	.city-detail{
		span{
			float: left;
			width: 25%;
			text-align: center;
			line-height: 2;
			font-size: .8rem;
		}
	}
}
.plugin{
	.search-result{
		display: none;
		position: absolute;
		top: 115px;
		bottom: 0;
		background: #ffffff;
		width: 100%;
		overflow: auto;
		span{
			display: block;
			width: 100%;line-height: 2;
			@extend %bb;
			text-indent: 1rem;
		}
	}
}