
.banner{
	height: 130px;
	.ss1{
		background: url("../img/fullimage1.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss2{
		background: url("../img/fullimage2.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss3{
		background: url("../img/fullimage3.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
	.ss4{
		background: url("../img/fullimage4.jpg") no-repeat center center;
		background-size: 100% 100%;
	}
}

.index-wrapper{
	.right-arrow{
		@include right-arrow($right:1rem,$top:30px)
	}
	.circle{
		@include circle($top:30px,$left:.5rem,$color:$borderColor)
	}
	color: #333;
	background: #ffffff;
	padding-left: 12px;
	@extend %bb;
	.index-item{
		padding-left: 1.2rem;
		line-height: 70px;
		@extend %bb;
		font-size: .8rem;
		&:first-child{
			&:after{
				right: 85px;
			}
		}
		&:last-child{
			border: none;
		}
	}
	.location{
		position: absolute;
		right: 0;
		height: 100%;
		@extend %bl;
	}
	span{
		padding: 0 5px;
	}
}
.city{
	.left-arrow{
		@include left-arrow($left:1rem,$top:15px);
		position: absolute;
		width: 50px;
		height: 44px;
		left: 0;
	}
	.cont-title{
		background: $backColor;
		height: 24px;
		line-height: 24px;
		font-size: .625rem;
		color: $fontColor;
		text-indent: .625rem;
	}
	ol{
		li{
			float: left;
			width: 10%;
			text-align: center;
			line-height: 2;
			font-size: .75rem;
		}
	}
	.city-detail{
		@include clearfix;
		span{
			float: left;
			width: 25%;
			text-align: center;
			line-height: 2;
			font-size: .75rem;
		}
	}
}