html,body{
	margin: 0;
	padding: 0;
}
*{ 
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
input{
	-webkit-tap-high-light: rgba(0,0,0,0);
	border: none;
	outline: none;
	color: #333;
	font: .8rem/1 'microsoft yahei';
	-webkit-appearance: none;
}